.quiz-card {
    text-align: center;
}
.pokemon-button {
    padding: 10px;
}
.pokemon-text {
    font-size: 2rem;
}
#pokemon-input{

}
#random-pokemon-img {
    
}
#pokemon-score {
    font-style: oblique;
}