.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator-card {
    display: grid;
    grid-template-columns: 75px 75px 75px 75px ;
    grid-template-rows: 75px 75px 75px 75px 75px 75px;
    border: 3px solid #000;
}
#calc-display {
    text-align: end;
    font-size: 3rem;
    grid-column-start: 1;
    grid-column-end: 5;
    border: 1px solid #000;
    background-color: #03045E;
    color: #CAF0F8;
}
#calc-zero {
    grid-column-start: 1;
    grid-column-end: 3;
}
.calc-item {
    text-align: center;
    grid-column: 1 5;
    border: 1px solid #000;
}
.calc-item:hover {
    background-color: #000;
    color: #CAF0F8;
}
.calc-function-first {
    background-color: #90E0EF;
}
.calc-function {
    background-color: #48CAE4;
}
.calc-number {
    background-color: #023E8A;
    color: #CAF0F8;
}
@media screen and (max-width: 300px) {
    .calculator-card {
        display: grid;
        grid-template-columns: 60px 60px 60px 60px ;
        grid-template-rows: 75px 75px 75px 75px 75px 75px;
        border: 3px solid #000;
    }
}